<a href="https://colab.research.google.com/github/Thonyta17/Econ-5200/blob/main/Lab_1_%22Hello%2C_Pandas%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#step 1
import pandas as pd
import numpy as np

In [1]:
data = {
    'Country': ['United States','Argentina','Australia','Brazil','Britain','China','Egypt','Euro area','Hong Kong','Indonesia','Japan','Mexico','Norway','Pakistan','Philippines','Russia','Saudi Arabia','South Africa','South Korea',],
    'iso_a3': ['USA','ARG','AUS','BRA','GBR','CHN','EGY','EUZ','HKG','IDN','JPN','MEX','NOR','PAK','PHL','RUS','SAU','ZAF','KOR',],
    'local_price': [4.79,28,5.3,13.5,2.89,17.2,16.93,3.68,18.8,27939,370,49,48,300,163,89,11,25.5,4100,],
    'dollar_ex': [1,8.62,1.23,2.59,0.66,6.21,7.36,0.86,7.74,12472,117.83,14.63,7.62,100.67,44.41,65.44,3.75,11.49,1084.66,]
}
# Convert to DataFrame
df = pd.DataFrame(data)
print(df)

NameError: name 'pd' is not defined